#container {
	background-image: url(loading.gif);
	background-repeat: no-repeat;
	background-position: center
}

#event-button {
	display: none;
}

.error-string {
	background-color: #ffa07a;
}

.error-mark {
	width: 0 !important;
	height: 0 !important;
    margin-left: 11px;
    top: 5px !important;
	border-top: 5px solid transparent;
	border-left: 10px solid #ff0000;
	border-bottom: 5px solid transparent;
}

.diff-mark {
	width: 0 !important;
	height: 0 !important;
    margin-left: -35px;
    top: 5px !important;
	border-top: 5px solid transparent;
	border-left: 10px solid #d400ff;
	border-bottom: 5px solid transparent;
}

.diff-editor-position {
	width: 0 !important;
	height: 0 !important;
    margin-left: -35px;
    top: 5px !important;
	border-top: 5px solid transparent;
	border-left: 10px solid #028fef;
	border-bottom: 5px solid transparent;
	z-index: 1;
}

.bookmark {
	background: #7e96a8;
    width: 15px !important;
    height: 15px !important;
    left: 4px !important;
    top: 3px !important;
    border-radius: 20%;
}

.statusbar-widget {
	background: #028fef;
	color: #fff;
}

.editor-widget.find-widget {
	max-height: 0px;
}

.editor-widget.find-widget.visible {
	min-height: 33px;
	max-height: 100px;
}

.editor-widget.find-widget.visible .input {
	min-height: 24px;
}

.editor-widget.find-widget.visible.replaceToggled {
	min-height: 62px;
}

.suggest-widget .monaco-list .monaco-list-row .inactive-detail {
	display: inline !important;
	color: #b3b3b3;
}

.suggest-widget .monaco-list .monaco-list-row .readMore.inactive-more {
	display: inline !important;
	visibility: visible !important;
}

div:has(> .add-review) {
	background-color: #ddd;
}

.add-review {
	margin-left: 2px;
	margin-top: -1px;
    width: 18px !important;
    height: 18px !important;
    background-color: #007acc;
    border-radius: 5px;
	transition: transform .1s ease-in-out;
    transform: scale(0.8, 0.8);	
	z-index: 2;
	cursor: pointer;
}

.add-review:hover {
	margin-left: 0;
	margin-top: -3px;
    width: 22px !important;
    height: 22px !important;
}

.add-review::after {
	content: '+';
	color: #fff;
	font-size: 18px;
    padding: 3px;
    line-height: 18px;
}

.add-review:hover::after {
	font-size: 22px;
	line-height: 22px;
	padding: 4px;
    font-weight: bold;
}

.review-body {
	border: 1px solid #ddd;
	box-sizing: border-box;
	background-color: #f6f8fa;
	overflow: hidden;
}

.review-text {
	padding: 0 10px;
	font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-header {
	margin: 5px;
	display: flex;
}

.review-header > .review-title {
	font-size: 11px;
    font-weight: bold;
    line-height: 20px;
}

.review-header > div {
	display: inline-block;
}

.review-buttons > div {
	display: inline-block;
	height: 16px;
	width: 16px;
	background-size: contain;
    background-repeat: no-repeat;
	margin-right: 10px;
	cursor: pointer;
	opacity: 0.5;
}

.review-buttons > div:hover {
	opacity: 1;
}

.review-image {
	height: 18px;
	width: 18px;
	background-size: contain !important;
    background-repeat: no-repeat !important;
    opacity: 1 !important;
	cursor: auto !important;
}

.review-error .review-image {
	background: url("media/bug.svg");
}

.review-warning .review-image {
	background: url("media/warning.svg");
}

.review-info .review-image {
	background: url("media/info.svg");
}

.review-hint .review-image {
	background: url("media/hint.svg");
}

.review-modify {
	background: url("media/pencil.svg");
}

.review-delete {
	background: url("media/trash.svg");
}

.review-edit {
	padding: 10px;
}

.review-edit button {
	display: inline-block;
	cursor: pointer;
	padding: 0.375em .75em;
	position: relative;
	margin-right: 5px;
	letter-spacing: .05em;
	color: #1e1e1e;
	text-align: center;
	font-size: 14px;
	transition: background-color .5s ease;	
	border-radius: 5px;
	border: 1px solid #9b9b9b;
	opacity: 0.9;
}

.review-edit button:hover {
	opacity: 1;
}

.review-edit button.review-save {
	background-color: #5cb85c;
}

.close.review-error {
	background-color: #f2dede;
	color: #a94442;
	border-color: #ebccd1;
	border-left: 4px solid #a94442;
}

.close.review-warning {
	background-color: #fdf1dd;
	color: #8a6d3b;
	border-color: #faebcc;
	border-left: 4px solid #8a6d3b;
}

.close.review-info {
	background-color: #d9edf7;
	color: #31708f;
	border-color: #bce8f1;
	border-left: 4px solid #31708f;
}

.close.review-hint {
	background-color: #dff0d8;
	color: #3c763d;
	border-color: #d6e9c6;
	border-left: 4px solid #3c763d;
}

.review-body textarea.required {
	border: 1px solid #990000;
}

.review-body textarea {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	height: 73px;
	max-height: 73px;
	resize: none;
}

.review-body textarea:focus {
	outline: none !important;
	border-color: #007acc;
}

.severity div {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.5rem;
	justify-content: left;
}

.severity .error {
	background-color: #fa8072;
}

.severity .warning {
	background-color: #f0ad4e;
}

.severity .info {
	background-color: #87ceeb;
}

.severity .hint {
	background-color: #5cb85c;
}

.severity input[type="radio"] {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.severity input[type="radio"]:checked+span {
	box-shadow: 0 0 0 0.1em #292929;
	z-index: 1;
	text-decoration: underline;
	color: #000000;
}

.severity label span {
	display: block;
	cursor: pointer;
	padding: 0.375em .75em;
	position: relative;
	margin-left: .0625em;
	box-shadow: 0 0 0 0.0625em #b5bfd9;
	letter-spacing: .05em;
	color: #1e1e1e;
	text-align: center;
	font-size: 14px;
	font-family: monospace, monospace;
	transition: background-color .5s ease;
}

.severity label:first-child span {
	border-radius: .375em 0 0 .375em;
}

.severity label:last-child span {
	border-radius: 0 .375em .375em 0;
}
  
.diff-navi {
	border-left: 3px solid;
	width: 3px !important;
	margin-left: 3px;
	cursor: pointer;
}

.diff-navi:hover {
	border-left: 9px solid;
	margin-left: 0px;
	cursor: pointer;
	transition: all .25s;
}

.diff-new {
	border-color: #10aa00;
}

.diff-new:hover {
	border-color: #10aa00;
}

.diff-changed {
	border-color: #f8a62b;
}

.diff-changed:hover {
	border-color: #f8a62b;
}

.diff-removed {
	border-color: #dd0000;
}

.diff-removed:hover {
	border-color: #dd0000;
}

.diff-close {
	position: absolute;
	right: 0;
	top: 3px;
	width: 15px;
	height: 20px;
	opacity: 0.3;
	cursor: pointer;
}

.diff-close:hover {
	opacity: 1;
}

.diff-close:before, .diff-close:after {
	position: absolute;
	content: ' ';
	height: 12px;
	width: 2px;
	top: 2px;
	background-color: #333;
}

.dark .diff-close:before, .dark .diff-close:after {
	background-color: #fff;
}

.diff-close:before {
	transform: rotate(45deg);
}

.diff-close:after {
	transform: rotate(-45deg);
}

.diff-header {
	font-size: 12px;
	padding-left: 5px;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	height: 20px;
	background-color: #fff;
}

.diff-header.dark {
	background-color: #1e1e1e;
	color: #9b9b9b;
}

.diff-body {
	border: 1px solid;
	height: 100%;
}

.new-block {
	border-color: #10aa00;
}

.changed-block {
	border-color: #f8a62b;
}

.removed-block {
	border-color: #dd0000;
}

.query-delimiter {
	background-color: #e8ffe8;
}

.query-delimiter-selected {
	background-color: #ffe877;
}

.query-delimiter-dark {
	background-color: #404040;
}

.query-delimiter-dark-selected {
	background-color: #062f4a;
}

.code-marker {
	width: 0 !important;
	height: 0 !important;
    margin-left: -35px;
    top: 5px !important;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

.code-marker.marker-error {
	border-left: 10px solid #e72e1d;
}

.code-marker.marker-hint {
	border-left: 10px solid #878787;
}

.code-marker.marker-info {
	border-left: 10px solid #7cc0ff;
}

.code-marker.marker-warning {
	border-left: 10px solid #eaac0e;
}