.error-string {
	background-color: #ffa07a;
}

.error-mark {
	background: #ff0000;	
	width: 5px !important;			
	margin-left: 3px;	
}

.bookmark {
	background: #7e96a8;	
	width: 20px !important;
	left: 2px !important;
	border-radius: 20%;
}

.statusbar-widget {

	background: #028fef;
	color: #fff;

}

.editor-widget.find-widget.visible {
	
	min-height: 33px;

}

.editor-widget.find-widget.visible .input {
	
	min-height: 24px;

}

.editor-widget.find-widget.visible.replaceToggled {
	
	min-height: 62px;

}

.suggest-widget .monaco-list .monaco-list-row .inactive-detail {

	display: inline !important;
	color: #b3b3b3;

}

.diff-new {
	background: #10aa00;	
	width: 3px !important;			
	margin-left: 5px;	
}

.diff-changed {
	background: #f8a62b;	
	width: 3px !important;			
	margin-left: 5px;	
}