.error-string {
	background-color: #ffa07a;
}

.error-mark {
	background: #ff0000;	
	width: 5px !important;			
	margin-left: 3px;	
}

.bookmark {
	background: #7e96a8;	
	width: 20px !important;
	left: 2px !important;
	border-radius: 20%;
}

.statusbar-widget {

	background: #028fef;
	color: #fff;

}

.editor-widget.find-widget.visible {
	
	min-height: 33px;

}

.editor-widget.find-widget.visible .input {
	
	min-height: 24px;

}

.editor-widget.find-widget.visible.replaceToggled {
	
	min-height: 62px;

}

.suggest-widget .monaco-list .monaco-list-row .inactive-detail {

	display: inline !important;
	color: #b3b3b3;

}

.diff-new {
	border-left: 3px solid #10aa00;
	width: 12px !important;
	margin-left: 5px;
	cursor: pointer;
}

.diff-new:hover {		
	border-left: 9px solid #10aa00;
	margin-left: 2px;
	cursor: pointer;
}

.diff-changed {
	border-left: 3px solid #f8a62b;
	width: 12px !important;
	margin-left: 5px;
	cursor: pointer;
}

.diff-changed:hover {	
	border-left: 9px solid #f8a62b;
	margin-left: 2px;
	cursor: pointer;
}

.diff-removed {
	border-left: 3px solid #dd0000;
	width: 12px !important;
	margin-left: 5px;
	cursor: pointer;
}

.diff-removed:hover {	
	border-left: 9px solid #dd0000;
	margin-left: 2px;
	cursor: pointer;
}

.diff-close {
	position: absolute;
	right: 7px;
	top: 3px;
	width: 20px;
	height: 20px;
	opacity: 0.3;
	cursor: pointer;
}

.diff-close:hover {
	opacity: 1;	
}

.diff-close:before, .diff-close:after {
	position: absolute;	
	content: ' ';
	height: 15px;
	width: 2px;
	background-color: #333;
}

.diff-close:before {
	transform: rotate(45deg);
}

.diff-close:after {
	transform: rotate(-45deg);
}

.diff-header {
	font-size: 12px;
	padding-left: 5px;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	height: 20px;
}

.diff-body {
	border: 1px solid;
	height: 100%;
}

.new-block {		
	border-color: #10aa00;	
}

.changed-block {		
	border-color: #f8a62b;	
}

.removed-block {		
	border-color: #dd0000;	
}